input {
 file {
  type => "user-service-log"
  path => "/api-logs/user-service.log"
 }
 
 file {
  type => "book-service-log"
  path => "/api-logs/book-service.log"
 }
 
}

output {

if [type] == "user-service-log" {

 elasticsearch {
  hosts => ["http://elasticsearch:9200"]
  index => "user-service-log-%{+YYYY.MM.dd}"
 }
} else if [type] == "book-service-log" {

 elasticsearch {
  hosts => ["http://elasticsearch:9200"]
  index => "book-service-log-%{+YYYY.MM.dd}"
 }
}

 stdout { codec => rubydebug }
}